{% extends 'overall1/base.html' %}

{% block title %}Apply for Event{% endblock %}

{% block content %}
    <div style="margin: 20px;">
        <h1>Apply for Event</h1>
        <p>User: {{ request.user.username }}</p>
        <p>Event: {{ event_name }}</p>

        <form method="post" action="{% url 'apply_for_event' event.id event.name|slugify %}">
            {% csrf_token %}
            <input type="submit" value="Apply" style="padding: 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer; border-radius: 5px;">
        </form>
    </div>
{% endblock %}

