{% extends 'overall1/base.html' %}
{% block content %}
  <h2>Edit Appointment</h2>

  {% for appointment in appointments %}
    <!-- Display appointment details as needed -->
    Senior Citizen: {{ appointment.senior_citizen_username }}<br>
    Volunteer: {{ appointment.volunteer_username }}<br>
    Senior Citizen Message: {{ appointment.senior_citizen_message }}<br>

    <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  {% endfor %}
{% endblock %}