<!-- sent_messages.html in the overall1/templates/overall1/ folder -->
{% extends 'overall1/base.html' %}

{% block title %}Sent Messages{% endblock %}

{% block content %}
    <h1>Sent Messages</h1>
    {% if sent_messages %}
        <ul>
            {% for message in sent_messages %}
                <li>
                    <strong>To:</strong> {{ message.recipient.username }}<br>
                    <strong>Subject:</strong> {{ message.subject }}<br>
                    <strong>Body:</strong> {{ message.body }}<br>
                    <strong>Sent at:</strong> {{ message.sent_at }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages in your sent folder.</p>
    {% endif %}
{% endblock %}
