<!-- view_appointment.html -->

{% extends 'overall1/base.html' %}

{% block content %}
  <h2>View Appointments</h2>

  <ul>
    {% for appointment in appointments %}
      <li>
        <strong>Senior Citizen:</strong> {{ appointment.senior_citizen_username }}<br>
        <strong>Volunteer:</strong> {{ appointment.volunteer_username }}<br>
        <strong>Senior Citizen Message:</strong> {{ appointment.senior_citizen_message }}<br>
        <strong>Volunteer Message:</strong> {{ appointment.volunteer_message }}<br>
        <strong>Status:</strong> {{ appointment.status }}<br>

       
      </li>
      <br>
    {% endfor %}
  </ul>
{% endblock %}

