<!-- overall/templates/overall/events.html -->
{% extends 'overall/base.html' %}

{% block content %}
    <h1>Events</h1>
    <ul>
        {% for event in events %}
            <li>
                <strong>Name:</strong> {{ event.name }}<br>
                <strong>Description:</strong> {{ event.description }}<br>
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.name }}">
                {% endif %}
               
                <p><strong>Start Date:</strong> {{ event.start_date }}</p>
                <p><strong>End Date:</strong> {{ event.end_date }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}