<!-- all_volunteers.html -->
{% extends 'overall/base.html' %}

{% block content %}
  <h2>All Volunteer Users</h2>
  <ul>
    {% for volunteer in volunteers %}
      <li>
        <strong>Username:</strong> {{ volunteer.user.username }}<br>
        <strong>Type:</strong> {{ volunteer.type }}<br>
        {% if volunteer.image %}
          <img src="{{ volunteer.image.url }}" alt="{{ volunteer.user.username }}" width="200" height="150"><br>
        {% endif %}
        {% if volunteer.description %}
          <strong>Description:</strong> {{ volunteer.description }}<br>
        {% endif %}
        <strong>Age:</strong> {{ volunteer.age }}<br>
        <strong>Address:</strong> {{ volunteer.address }}<br>
        <strong>Phone number:</strong> {{ volunteer.phone_number }}<br>
        
        <!-- Button for Contact -->
        <button>Contact</button>
        
        <hr>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


